<nav class="navbar1">
    <div class="navbar2">
      <!-- nav header -->
      <!-- <div class="nav-header">
        <img src="./images/logo.svg" class="nav-logo" alt="" />
        <button type="button" class="nav-toggle" id="nav-toggle">
          <i class="fas fa-bars"></i>
        </button>
      </div> -->
      <!-- end of nav header -->
      <!-- nav links -->
      <ul class="navbar">
        <!-- single link -->
        <li class="nav-link-li">
          <a href="#home" class="nav-link scroll-link">home</a>
        </li>
        <!-- end of single link -->
        <!-- single link -->
        <li class="nav-link-li">
          <a href="#about" class="nav-link scroll-link">products</a>
        </li>
        <!-- end of single link -->
        <!-- single link -->
        <li class="nav-link-li">
          <a href="#services" class="nav-link scroll-link">ingredient</a>
        </li>
        <!-- end of single link -->
        <!-- single link -->
        <!-- <li>
          <a href="#featured" class="nav-link scroll-link">featured</a>
        </li> -->
        <!-- end of single link -->
        <!-- single link -->
        <li class="nav-link-li">
          <a routerLink="account/login" href="account/login" class="nav-link scroll-link">login</a>
        </li>
        <!-- end of single link -->
      </ul>
      <!-- end of nav links -->
      <!-- nav icons -->
     
      <!-- end of nav icons -->
    </div>
  </nav>
  <carousel>
    <slide>
        <img src="../../assets/img/hero1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../assets/img/hero2.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../assets/img/hero3.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>
